<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <location path="BackOffice">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <authorization>
      <allow roles="Admin, CODU, Medico"/>
      <deny users="?"/>
    </authorization>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Oracle.DataAccess, Version=2.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="Oracle.Web, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
        <!--<add assembly="Oracle.Web, Version=2.112.3.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <pages>
      <controls>
        <add src="~/UserControls/BackOfficeLeftMenu.ascx" tagName="LeftMenu" tagPrefix="lm"/>
        <add src="~/UserControls/MainMenuAdmin.ascx" tagName="MainMenuAdmin" tagPrefix="mma"/>
        <add src="~/UserControls/MainMenuCODU.ascx" tagName="MainMenu" tagPrefix="mmc"/>
        <add src="~/UserControls/MainMenuMedico.ascx" tagName="MainMenu" tagPrefix="mmm"/>
      </controls>
    </pages>
    <membership defaultProvider="MyOracleMembershipProvider">
      <providers>
        <clear/>
        <add name="MyOracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider,Oracle.Web, Version=2.112.2.0, Culture=neutral,PublicKeyToken=89b483f429c47342" connectionStringName="oracle_membership_con" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="4" minRequiredPasswordLength="2" passwordAttemptWindow="8"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyOracleMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="oracle_membership_con" applicationName="/" name="MyOracleMembershipProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=2.111.5.10, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="myOracleProfileProvider">
      <providers>
        <add connectionStringName="oracle_membership_con" applicationName="/" name="myOracleProfileProvider" type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=2.111.6.20, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      </providers>
      <properties>
        <add name="Instituicao" type="System.String"/>
        <add name="Codu" type="System.String"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>


    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="~/Account/Login.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
     
    
    
  </system.webServer>
  <connectionStrings>
    <add name="oracle_membership_con" connectionString="Data Source=XE;user id=VVEAM_USER;password=pfcsilvacosta;"/>
    <add name="VVEAM_Entity" connectionString="metadata=res://*/App_Code.DAL.VVEAM_EDM.csdl|res://*/App_Code.DAL.VVEAM_EDM.ssdl|res://*/App_Code.DAL.VVEAM_EDM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=XE;PASSWORD=pfcsilvacosta;PERSIST SECURITY INFO=True;USER ID=VVEAM_USER&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="timerForm" value="20000"/>
    <add key="timerPedidos" value="40000"/>
    <add key="timerAdmissao" value="40000"/>
  </appSettings>
</configuration>