<?xml version="1.0"?>


<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
      <!--This will restrict anonymous user access-->
    </authorization>
  </system.web>


  <location path="OCRFormulario.aspx">
    <system.web>
      <authorization>
        <allow roles="CODU, Medico, Admin" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="OCRAdmissaoPendente.aspx">
    <system.web>
      <authorization>
        <allow roles="CODU, Medico" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <location path="OCRHistorico.aspx">
    <system.web>
      <authorization>
        <allow roles="CODU, Medico" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="OCRPedidoPendente.aspx">
    <system.web>
      <authorization>
        <allow roles="CODU, Medico" />
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


  <location path="OCRPainelAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="~/Account/Login.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
