<?xml version="1.0"?>
<configuration>
  <system.web>

    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="~/Account/Login.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
